<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
            <!--md->break points tailwindcss-->
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-pizza2.png" alt="">
        </div>
    </div>
</section>
<% categories = ["Simply Veg.", "Classic Veg.", "Deluxe Veg.", "Jain Special", "Supreme Veg.", "Mini Pizza", "Starters", "Pasta"]
categories.forEach((catg) => {

%>
<section class="menu container mx-auto py-8">
   
    <h1 class="text-xl font-bold mb-8"><%= catg %></h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% pizzas.forEach(function(pizza) { if(pizza.category == catg) {%>
            <div class="w-full w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg font-bold">
                        <%= pizza.name %>
                    </h2>
                    <h3 class="mb-4 font-bold">
                        <%= pizza.description %>
                    </h3>
                    <table class="pricetable w-3/5 table-auto bg-white items-center">

                        <thead>

                            <tr>
                                <% Object.keys(pizza.size).forEach(key=>{ %>

                                    <th style="text-align:center" class="px-4 py-2 text-left text-sm">
                                        <%= key.toUpperCase() %>
                                    </th>
                                    <% })%>

                            </tr>

                        </thead>
                        <tbody>

                            <tr>
                                <% Object.keys(pizza.size).forEach(key=>{ %>

                                    <td style="text-align:center" class="border px-4 py-2 font-bold">
                                        ₹<%= pizza.size[key] %>
                                    </td>
                                    <% })%>

                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
            <% } })%>
</section>
<%})%>